 *{ margin:0; padding:0; box-sizing:border-box;  font-family:'Lora', serif;
 }
  a { text-decoration:none;}
 a:hover{ text-decoration:none;}
 li { list-style:none;}
 p{ 
 font-weight:900;
 font-size:.9em;
 color:#606060;}

 .header{ width:100%; height:100%; 
 background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url("file:///storage/emulated/0/Download/images%20(9).jpeg");
 background-repeat:no-repeat;
 background-size:100% 100%;
 clip-path:polygon(100% 0%, 100% 77%,50% 100%,0 75%,0 0);
 }
 .header:before{ content:"";
 
 position:absolute; 
 top:0%; 
 bottom:0%; 
 left:0%; 
 right:0%;
 opacity:.4;
 z-index:-1;
 background:linear-gradient(to right,#le5799 0%,#3cdbb 0%, #16c9f6 100%);}
 .navbar:before{ content:"";
 
 position:absolute; 
 top:0%; 
 bottom:0%; 
 left:0%; 
 right:0%;
 opacity:.4;
 z-index:-1;
 background:linear-gradient(to right,#le5799 0%,#3cdbb 0%, #16c9f6 100%);}
 
 .nev-item a{ font-weight:bold; color:#fff!important;}
 
 .header-section{ width:100%;
 height:inherit;
 color:white;
 text-align:center;
 position:relative;
 }
 
 .center-div { width:100%;
 height:auto;
 position:absolute
 top:50%;
 left:50%;
 padding-bottom:20%;
 font-family:'Lora', serif;

 } 
  .header-buttons a{ 
  border:1px solid #fff;
  border-radius:100px;
  font-size:1em;
  color:#fff;
  margin:0.5px;
  padding: 12px 35px;
  font-weight:400;
  outline:none;
  line-height:1.4;
  text-align:center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  
  }
  
 .header-buttons:hover a{ 
 color:#50d1c0;
 text-decoration:none;
 background-color:#fff;
 font-weight:800;
 }
 .center-div p { 
 color:white;
 padding: 
 }
 .headerextra-div{
 width:100%;
  height:auto;
  margin:100px 0px;
  text-align:center;
 }
  
  .extra-div {
  background-color:#fff;
  border-radius:4px;
  border:medium none;
  padding:50px!important;
  transition:0.1s;
  
  }
  .extra-div:hover{ 
  color:red;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  transform:translateY(-20px);
  }
  
 
 
 
 
 
 
